@import url(https://fonts.googleapis.com/css?family=Open+Sans);
 

 
body {
  font-family: 'Open Sans', sans-serif;
}

.normal {
  line-height: 30px;
  font-size: 18px;
}

header {
  padding-bottom: 70px;
}
 
body {
  font-family: 'Open Sans', sans-serif;
}
 
/* Navigation */
.menu {
    width: 100%;
    height: 75px;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    background-color: #00CED1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 9999;
}
#menu-center {
    width: 980px;
    height: 75px;
    margin: 0 auto;
}
#menu-center ul {
    margin: 15px 0 0 0;
}
#menu-center ul li {
    list-style: none;
    margin: 0 30px 0 0;
    display: inline;
}
.active {
    font-family:'Droid Sans', serif;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    line-height: 50px;
}
ul li a {
    font-family:'Droid Sans', serif;
    font-size: 14px;
    color: black;
    text-decoration: none;
    line-height: 50px;
}
 
/* Headings */
 
h1 {
  font-size: 5rem;
  color: #34495E;
}

h2 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 
 
/* Sections */
 
section {
  width: 100%;
  padding: 25px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  float: left;
}

.wrapper {
  overflow: auto;
}

.about-me-header {
  display: table;
  width: 100%;
  background:linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("about.jpg");  
  justify-content: center;
    /* Set a specific height */
  min-height: 300px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.experience-header {
  display: table;
  margin-top: 50px;
  width: 100%;
  background:linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("internships.jpg");  
  justify-content: center;
    /* Set a specific height */
  min-height: 300px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.projects-header {
  display: table;
  margin-top: 50px;
  width: 100%;
  background:linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("projects.jpg");  
  justify-content: center;
    /* Set a specific height */
  min-height: 300px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.social-header {
  display: table;
  margin-top: 50px;
  width: 100%;
  background:linear-gradient(rgba(0,0,0, 0.85), rgba(0,0,0, 0.85)), url("social.jpg");  
  justify-content: center;
    /* Set a specific height */
  min-height: 300px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section:nth-child(even) {
  background: #ecf0f1;
}
section:nth-child(odd) {
  background: #bdc3c7;
}
p.description {
  border-radius: 25px;
  background-color:#cccccc;
}
.section-content {
  padding: 25px;
}
.section {
  height: auto;
}
.sections section:first-child {
  margin-top: 60px;
}
.img-with-text img {
   float: left;
   padding: 0 20px 20px 0;
}
.parallax {
    /* Set a specific height */
    min-height: 300px;
    justify-content:center;
    align-items:center;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-me {
  background:linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("about.jpg");  
}
.experience {
  background:linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("internships.jpg");    
}

/* entire container, keeps perspective */
.flip-container {
  margin-top: 20px;
  perspective: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  background-color: #fff;
  text-align: center;
  width: 300px;
  height: 300px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

#card1 {
  float:left;
  width:300px;
  height:300px;
  margin-left:80px;
}
#card2 {
  float:left;
  width:300px;
  height:300px;
  margin-left:80px;
}
#card3 {
  float:left;
  width:300px;
  height:300px;
  margin-left:80px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  width: 300px;
  height: 300px;
  backface-visibility: hidden;
  vertical-align: middle;
  position: absolute;
  padding: 20px 20px 20px 20px;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  text-align: justify;
}

.fa { 
  transform: scale(3,3); 
  margin-left: 80px;
  margin-top: 30px;
}
.icons {
  width: 100%;
  float: left;
  clear: left;
  text-align: center;
}
.centered {
  width: 100%; /*can be in percentage also.*/
  height: auto;
  margin: 0 auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Pacifico', cursive;
  font-size: 32px;
  color: #fff;
  float: left;
  padding-top: 100px;
}

section.active {}